.header {
  height: 60px;
  background-color: #111111;
  display: flex;

  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
.header-left {
  flex: 60vw;
}

.header-left > img {
  height: 30px;
  margin-top: 5px;
}

.header-right {
  display: flex;
  flex: 40vw;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  color: white;
}
.header-right > ul {
  display: flex;
  flex: 10%;
  align-items: center;
  justify-content: space-around;
}

.header-right > ul > li {
  cursor: pointer;
}

.header-right > ul > li > a {
  display: flex;
  background-color: #111111;
  padding: 5px 9px 5px 9px;
  border-radius: 3px;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.header-right > ul > li > a:hover {
  background-color: #292929;
}

.header-right > button {
  margin-left: 100px;
  padding: 6px 11px 6px 11px;
  border-radius: 3px;
  font-weight: 500;
  color: white;
  font-size: 15px;
  border: none;
  background-color: #292929;
  cursor: pointer;
}

.header-right > button:hover {
  background-color: #494949;
}
